

.parent{
	-fx-background-color: #fff;
} 

.search{
	-fx-text-fill: white;
}

.sidebar{
	-fx-background-color: #272924;
	-fx-border-color: #D8DBDE;
	-fx-border-width: 0.0px 1.0px 0.0px 0.0px;
} 

.rightSide{
	-fx-background-color: #272924;
}

.profil {
	-fx-border-color: #D8DBDE;
	-fx-border-width: 0.0px 0.0px 1.0px 0.0px;
}

.jfxbutton{
	-fx-color: black;
}

.rounded {
    -fx-border-radius: 20.0 20.0 20.0 20.0;
    -fx-background-radius: 20.0 20.0 20.0 20.0;
}

.btns{
	-fx-background-color: transparent;
} 

.btns:hover{
	-fx-background-color: #202332;
} 

.box {
	-fx-border-color: #D8DBDE;
	-fx-border-width: 1.0px 0.0px 0.0px 0.0px;
}


