.parent{
	-fx-background-color: #f1f3f7;
} 

.search{
	-fx-text-fill: white;
}

.sidebar{
	-fx-background-color: #040720;
} 

.topbar {
	-fx-background-color: white;
	-fx-border-color: #040720;
	-fx-border-width: 5px 0px 0px 0px;
}

.rightSide{
	-fx-background-color: #272924;
}

.profil {
	-fx-border-color: #D8DBDE;
	-fx-border-width: 0px 0px 1px 0px;
}

.jfxbutton{
	-fx-color: black;
}

.rounded {
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 20 20 20 20;
}

.btns{
	-fx-background-color: transparent;
} 

.btns:hover{
	-fx-background-color: #202332;
} 

.active{
	-fx-background-color: #202332;
}

.box {
	-fx-border-color: #D8DBDE;
	-fx-border-width: 1px 0px 0px 0px;
}

.rcorners {
  -fx-border-radius: 25px;
  -fx-border-color: 2px solid #73AD21;
}

.authcolor{
	-fx-background-color: white;
}
